* {
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
margin-bottom: 0;
 }
    
/* Header start*/
.topnav {
overflow: hidden;
position: relative;
}
      
.topnav #myLinks {
display: none;
}
      
.topnav a {
float: left;
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 49px;
font-weight: 300;
}
      
.topnav a.icon {
float: right;
}
      
.topnav a:hover {
background-color: #fcefdd;
color: black;
}
    
.topnav img{
height: 50px;
}
    
/* Header slut*/


/* main start*/

      /* Styling af baggrundsbillede*/

.wrap {
  background-image: url(../img/baggrund-afrika.png);
  background-size: cover;
  width: auto;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 10%;
}



.overskrift{
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 1px;
}

hr.linebreak{
  width: 400px;
  border:1px solid black;
}

.underoverskrift{
  text-align: center;
 font-weight: 300;
 font-size: 40px;
 margin-top: 1px;
}


      /* Styling af video*/
.video-afrika{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 80px;
  margin-top: 70px;
}

p{
  font-size: 25px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  margin-left: 110px;
  margin-right: 130px;
}


      /* Styling af knapper*/
.knap-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.knap{
  position: relative;
  display: inline-block;
}

.knap a{
  color: #533422;
  background-color: #fcefdd;
  border-radius: 15px;
  border: 0px;
  font-size: 30px;
  margin: 30px;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
}


/* main slut*/


